*~
*.1
*.3
*.[ao]
blib/
const-xs.inc
.deps
*.exe
*.gcda
*.gcno
*.gcov
*.l[ao]
libmemcached.bs
libmemcached.c
lib/Memcached/libmemcached/const_hash.pl
lib/Memcached/libmemcached/func_hash.pl
Makefile
pm_to_blib
*.pop
src_inst/
src/libmemcached/clients/.dirstamp
src/libmemcached/clients/memcapable
src/libmemcached/clients/memcat
src/libmemcached/clients/memcp
src/libmemcached/clients/memdump
src/libmemcached/clients/memerror
src/libmemcached/clients/memflush
src/libmemcached/clients/memrm
src/libmemcached/clients/memslap
src/libmemcached/clients/memstat
src/libmemcached/config.h
src/libmemcached/config.h
src/libmemcached/config.log
src/libmemcached/config.log
src/libmemcached/config.status
src/libmemcached/config.status
src/libmemcached/docs/Makefile
src/libmemcached/docs/memcapable.1
src/libmemcached/docs/memcat.1
src/libmemcached/docs/memcp.1
src/libmemcached/docs/memdump.1
src/libmemcached/docs/memerror.1
src/libmemcached/docs/memflush.1
src/libmemcached/docs/memrm.1
src/libmemcached/docs/memslap.1
src/libmemcached/docs/memstat.1
src/libmemcached/example/.dirstamp
src/libmemcached/example/memcached_light
src/libmemcached/libhashkit/.dirstamp
src/libmemcached/libhashkit/.libs/
src/libmemcached/libmemcached/.dirstamp
src/libmemcached/libmemcached/.libs/
src/libmemcached/libmemcached/protocol/.dirstamp
src/libmemcached/libmemcached/util/.dirstamp
src/libmemcached/libtool
src/libmemcached/Makefile
src/libmemcached/stamp-h1
src/libmemcached/support/libmemcached-fc.spec
src/libmemcached/support/libmemcached.pc
src/libmemcached/tests/atomsmasher
src/libmemcached/tests/.dirstamp
src/libmemcached/tests/hashplus
src/libmemcached/tests/memplus
src/libmemcached/tests/startservers
src/libmemcached/tests/testapp
src/libmemcached/tests/testhashkit
src/libmemcached/tests/testplus
src/libmemcached/tests/testudp
*.tcov

